.app-body {
  padding-top: 50px;
}

.default-view {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.posts {
  width: 50%;
}

.post-create {
  width: 50%;
  margin: 0 auto;
}

.post-create div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
}

.create-post {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
