.app-body {
  padding-top: 70px;
}

.default-view {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.posts {
  width: 50%;
}

.post-create,
.post-edit {
  width: 50%;
  margin: 0 auto;
}

.post-create div,
.post-edit div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
}

.create-post {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  margin: 100px auto;
  width: 250px;
  height: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.24), 0 3px 12px 0 rgba(0, 0, 0, 0.12);
}
