.app-body {
  padding-top: 50px;
}

.default-view {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.create-post {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.posts {
  width: 50%;
}

.post-create {
  padding: 20px;
  width: 50%;
  display: flex;
  margin: 0 auto;
  align-content: center;
  flex-wrap: wrap;
}